name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      name: Check out repository
    - name: Set up mise
      uses: jdx/mise-action@v3
      with:
        cache_key_prefix: mise-v0-stable
    - run: mise run lint

  test:
    name: Test/ Go (${{ matrix.mise-env }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mise-env: ["stable", "oldstable"]

    env:
      MISE_ENV: ${{ matrix.mise-env }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up mise
      uses: jdx/mise-action@v3
      with:
        cache_key_prefix: mise-v0-${{ matrix.mise-env }}

    - name: Set up mmdc
      run: |
        npm install
        # Hack to work around
        # https://github.com/mermaid-js/mermaid-cli/issues/730
        patch node_modules/@mermaid-js/mermaid-cli/src/index.js <<EOF
        186c186,187
        <     headless: 'shell'
        ---
        >     headless: 'shell',
        >     args: ['--no-sandbox']
        EOF

    - name: Test
      run: mise run cover

    - name: Upload coverage
      uses: codecov/codecov-action@v5
